<div class="container-fluid">
    <h2>{{ 'HOME.TITLE' | translate }}</h2>
    <p>
        {{ 'HOME.INTRO' | translate }}<br>
        {{ 'HOME.EOL' | translate }}<br>
        {{ 'HOME.CAMUNDA8' | translate }}<br>
        {{ 'HOME.FORK_INFO' | translate }}<br>
        {{ 'HOME.CIB_INFO' | translate }} (<a href="https://cibseven.org">https://cibseven.org</a>) {{ 'HOME.CIB_DESC' | translate }}
    </p>
    <div class="row">
        <div class="col-12">
            <div class="mt-5">
                <img src="assets/images/insurance.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
