@if (assignee) {
    <a [routerLink]="['#']">{{ assignee }}</a>&nbsp;<button class="btn btn-sm btn-close-white" (click)="removeAssignee()"><i class="bi bi-x"></i></button>
}
<div ngbDropdown placement="left" class="d-inline-block">
    <button type="button" class="btn btn-sm btn-close-white" id="dropdownBasic1" ngbDropdownToggle>
        <small>+ {{ label }}</small>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        @for (user of users; track user) {
            <button ngbDropdownItem
                    class="dropdown-style"
                    (click)="addAssignee(user)">
                {{ user }}
            </button>
        }
    </div>
</div>
